[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
django-cors-headers = "*"
djangorestframework = "*"
python-dotenv = "*"
gunicorn = "*"
whitenoise = "*"
djangorestframework-simplejwt = "*"
requests = "*"
paypalrestsdk = "*"

[dev-packages]

[requires]
python_version = "3.12"
